name: test-other

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        os: [archlinux, fedora, alpine]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and run tests on ${{ matrix.os }}
        run: |
          BRANCH_NAME=${{ github.event.pull_request.head.ref || github.ref_name }}
          docker build -t my-test-image --build-arg BRANCH_NAME=$BRANCH_NAME -f .github/workflows/Dockerfile.${{ matrix.os }} .
          docker run -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} my-test-image

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.os }}
          path: ./test-results/
